.highlight_star {
    color: #F8D33A;
}
.pagination {width:40%;
    margin-left:35%;
    }


    
.clearfix {
    margin-bottom: 20px;
}

.highlighted_row {
    background-color: white;
}

.details_arrow {
    position: relative;
    top: 6px;
}

.full_star {
    color: #F8D33A;
}

.progress_div {
    position: relative;
    top: 100px;
}
