
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/* #product_searchbox {
    background-color: #201f1f;
} */

.clear_button {
    background-color: white;
}

.search_container {
    /* width: 60%; */
    margin-top: 10px;
}

.has-error, .text-danger, .is-invalid, .asterisk {
    color: red;
}

.search_icon, .clear_icon {
    position: relative;
    top: 7px;
}
.ght{
    margin-right:5px;
}
.hello{
    padding-left:50%;
}
/* button {
    background-color: blue;
} */